* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-size: 50px 50px;
    background-color: #0ae;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -ms-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
}

.nav-items-container {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2.55rem;
    background-color: rgba(255, 137, 157, 0.9);
    box-shadow: 8px 8px 10px #0000008c;
}

.nav-item {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.5rem 1.75rem;
    background-color: #0ae;
    color: white;
    border-radius: 15px;
    box-shadow: 8px 8px 10px #0000008c;
}

.nav-item:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 154);
    box-shadow: 8px 8px 10px #ffffff8c;
}

.home-content-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 14rem;
}

.home-image {
    width: 650px;
    border-radius: 15px;
    border: white solid 2px;
    box-shadow: 8px 8px 10px #0000008c
}

.home-title {
    background-color: rgb(255, 137, 157);
    padding: 5rem;
    border-radius: 15px;
    border: double black;
    color: white;
    box-shadow: 8px 8px 10px #0000008c;
    font-size: 3rem;
}

.drink-list-title {
    text-align: center;
    margin: 2rem 0;
    font-size: 5rem;
    text-shadow: 8px 8px 10px #0000008c;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    place-items: center center;
    margin: 2rem 0;
}

.card {
    padding: 2rem;
    border: solid white 2px;
    width: 60%;
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    box-shadow: 8px 8px 10px #0000008c;
    margin-bottom: 2rem;
    transition: 0.5s;
}

.card:hover {
    cursor: pointer;
    transform: translateY(-8px);
    box-shadow: 8px 8px 10px #ffffff8c;
}

.card-title {
    margin-bottom: 1rem; 
}

.card-image {
    width: 80%;
    border-radius: 15px;
    border: solid black 2px;
}

.loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    text-shadow: 8px 8px 10px #0000008c;
}

.drink-detail-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5rem 0;
}

.drink-name {
    text-align: center;
    font-size: 3rem;
    color: white;
    text-shadow: 8px 8px 10px #0000008c;
}

.drink-detail-image {
    width: 30%;
    border-radius: 15px;
    border: solid black 2px;
    box-shadow: 8px 8px 10px #0000008c;
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center center;
    grid-gap: 2rem;
    margin: 2rem 0;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.search-label {
    margin-right: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 8px 8px 10px #0000008c;
}

.search-bar {
    width: 15%;
    height: 2.5rem;
    border-radius: 10px;
    border: black solid 2px;
    padding: 0.5rem;
    box-shadow: 8px 8px 10px #0000008c;
    font-size: 1.5rem;
}

.search-button {
    margin-right: 1rem;
    font-size: 2rem;
    font-weight: bold;
    padding: .5rem 1.75rem;
    background-color: rgba(255, 255, 255, .5);
    margin-left: 2rem;
    border-radius: 15px;
    box-shadow: 8px 8px 10px #0000008c;
}

.search-button:hover {
    cursor: pointer;
    box-shadow: 8px 8px 10px #ffffff8c;
    background-color: rgba(255, 255, 255);
}

.content-title2 {
    text-align: center;
}

.content-data2 {
    max-width: 500px;
    margin-top: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
    line-height: 1.5rem;
}

@media screen and (max-width: 900px) {
    .home-content-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        margin-top: 8rem;
    }
    
    .home-image {
        width: 500px;
    }
    
    .home-title {
        margin-bottom: 4rem;
        padding: 3rem;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr;
    }

    .search-label {
        font-size: 2rem;
    }
    
    .search-bar {
        width: 35%;
        height: 2.25rem;
    }
    
    .search-button {
        font-size: 1.5rem;
    }

    .drink-detail-content {
        justify-content: center;
        flex-direction: column;
    }

    .drink-detail-image {
        width: 40%;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .home-content-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        margin-top: 8rem;
    }
    
    .home-image {
        width: 400px;
    }
    
    .home-title {
        margin-bottom: 4rem;
        padding: 2rem;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    .search-label {
        font-size: 1.5rem;
        margin-right: 0.5rem;
    }
    
    .search-bar {
        width: 45%;
        height: 2rem;
        font-size: 1.25rem;
    }
    
    .search-button {
        font-size: 1rem;
        margin-left: 0.5rem;
    }

    .drink-detail-content {
        justify-content: center;
        flex-direction: column;
    }

    .drink-detail-image {
        width: 40%;
        margin-bottom: 2rem;
    }

    .loading {
        font-size: 4rem;
    }
}